apiVersion: apps/v1
kind: Deployment
metadata:
  name: ort-server-orchestrator
  namespace: {{ .Release.Namespace }}
  labels:
    app: ort-server-orchestrator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ort-server-orchestrator
  template:
    metadata:
      labels:
        app: ort-server-orchestrator
    spec:
      serviceAccountName: ort-server-orchestrator-sa
      containers:
        - name: ort-server-orchestrator
          image: "{{ .Values.containerRegistry }}/ort-server-orchestrator:{{ .Chart.AppVersion }}"
          env:
            {{- include "ortserver.env.adminSecrets" . | nindent 12 }}
            {{- include "ortserver.env.database" . | nindent 12 }}
            {{- include "ortserver.env.fileArchiveStorage" . | nindent 12 }}
            {{- include "ortserver.env.fileListStorage" . | nindent 12 }}
            {{- include "ortserver.env.reportStorage" . | nindent 12 }}
            {{- include "ortserver.env.typesafeConfigOverride" . | nindent 12 }}
            {{- include "ortserver.env.userSecrets" . | nindent 12 }}

            # Orchestrator receiver
            {{- if .Values.transport.rabbitmq.enabled }}
            - name: ORCHESTRATOR_RECEIVER_TRANSPORT_TYPE
              value: rabbitMQ
            - name: ORCHESTRATOR_RECEIVER_TRANSPORT_QUEUE_NAME
              value: {{ .Values.transport.queues.orchestrator }}
            - name: ORCHESTRATOR_RECEIVER_TRANSPORT_SERVER_URI
              value: {{ .Values.transport.rabbitmq.serverUri }}
            # The RabbitMQ transport does not use the default properties for the credentials.
            - name: CONFIG_FORCE_orchestrator_receiver_rabbitMqUser
              value: {{ .Values.transport.rabbitmq.username }}
            - name: CONFIG_FORCE_orchestrator_receiver_rabbitMqPassword
              value: {{ .Values.transport.rabbitmq.password }}
            # - name: ORCHESTRATOR_RECEIVER_TRANSPORT_USERNAME
            #   value: {{ .Values.transport.rabbitmq.username }}
            # - name: ORCHESTRATOR_RECEIVER_TRANSPORT_PASSWORD
            #   value: {{ .Values.transport.rabbitmq.password }}
            {{- end }}

            # Orchestrator sender (used by worker jobs, not by orchestrator)
            {{- if .Values.transport.rabbitmq.enabled }}
            - name: ORCHESTRATOR_SENDER_TRANSPORT_TYPE
              value: rabbitMQ
            - name: ORCHESTRATOR_SENDER_TRANSPORT_QUEUE_NAME
              value: {{ .Values.transport.queues.orchestrator }}
            - name: ORCHESTRATOR_SENDER_TRANSPORT_SERVER_URI
              value: {{ .Values.transport.rabbitmq.serverUri }}
            # The RabbitMQ transport does not use the default properties for the credentials.
            - name: CONFIG_FORCE_orchestrator_sender_rabbitMqUser
              value: {{ .Values.transport.rabbitmq.username }}
            - name: CONFIG_FORCE_orchestrator_sender_rabbitMqPassword
              value: {{ .Values.transport.rabbitmq.password }}
            # - name: ORCHESTRATOR_SENDER_TRANSPORT_USERNAME
            #   value: {{ .Values.transport.rabbitmq.username }}
            # - name: ORCHESTRATOR_SENDER_TRANSPORT_PASSWORD
            #   value: {{ .Values.transport.rabbitmq.password }}
            {{- end }}

            # Advisor sender (only supports Kubernetes transport for now)
            - name: ADVISOR_SENDER_TRANSPORT_TYPE
              value: kubernetes
            - name: ADVISOR_SENDER_TRANSPORT_NAMESPACE
              value: {{ .Release.Namespace }}
            - name: ADVISOR_SENDER_TRANSPORT_IMAGE_NAME
              value: "{{ .Values.containerRegistry }}/ort-server-advisor-worker:{{ .Chart.AppVersion }}"
            - name: ADVISOR_SENDER_TRANSPORT_IMAGE_PULL_POLICY
              value: {{ .Values.transport.kubernetes.imagePullPolicy }}
            - name: ADVISOR_SENDER_TRANSPORT_BACKOFF_LIMIT
              value: "{{ .Values.transport.kubernetes.backoffLimit }}"
            - name: ADVISOR_SENDER_TRANSPORT_RESTART_POLICY
              value: {{ .Values.transport.kubernetes.restartPolicy }}
            - name: ADVISOR_SENDER_TRANSPORT_MEMORY_REQUEST
              value: {{ .Values.transport.kubernetes.advisor.memoryRequest }}
            - name: ADVISOR_SENDER_TRANSPORT_MEMORY_LIMIT
              value: {{ .Values.transport.kubernetes.advisor.memoryLimit }}
            - name: ADVISOR_SERVICE_ACCOUNT
              value: ort-server-orchestrator-sa
            # Advisor worker config used by sender
            {{- if .Values.configFileProvider.gitConfig.enabled }}
            - name: ADVISOR_CONFIG_FILE_PROVIDER
              value: git-config
            - name: ADVISOR_CONFIG_GIT_URL
              value: {{ .Values.configFileProvider.gitConfig.repositoryUrl }}
            {{- end }}
            - name: ADVISOR_MOUNT_PVCS
              value: {{ .Values.advisor.mountPvcs }}
            - name: ADVISOR_SECRET_PROVIDER
              value: {{ .Values.configSecrets.name }}
            - name: ADVISOR_SECRET_FILES
              value: {{ .Values.configSecrets.files }}

            # Analyzer sender (only supports Kubernetes transport for now)
            - name: ANALYZER_SENDER_TRANSPORT_TYPE
              value: kubernetes
            - name: ANALYZER_SENDER_TRANSPORT_NAMESPACE
              value: {{ .Release.Namespace }}
            - name: ANALYZER_SENDER_TRANSPORT_IMAGE_NAME
              value: "{{ .Values.containerRegistry }}/ort-server-analyzer-worker:{{ .Chart.AppVersion }}"
            - name: ANALYZER_SENDER_TRANSPORT_IMAGE_PULL_POLICY
              value: {{ .Values.transport.kubernetes.imagePullPolicy }}
            - name: ANALYZER_SENDER_TRANSPORT_BACKOFF_LIMIT
              value: "{{ .Values.transport.kubernetes.backoffLimit }}"
            - name: ANALYZER_SENDER_TRANSPORT_RESTART_POLICY
              value: {{ .Values.transport.kubernetes.restartPolicy }}
            - name: ANALYZER_SENDER_TRANSPORT_MEMORY_REQUEST
              value: {{ .Values.transport.kubernetes.analyzer.memoryRequest }}
            - name: ANALYZER_SENDER_TRANSPORT_MEMORY_LIMIT
              value: {{ .Values.transport.kubernetes.analyzer.memoryLimit }}
            - name: ANALYZER_SERVICE_ACCOUNT
              value: ort-server-orchestrator-sa
            # Analyzer worker config used by sender
            {{- if .Values.configFileProvider.gitConfig.enabled }}
            - name: ANALYZER_CONFIG_FILE_PROVIDER
              value: git-config
            - name: ANALYZER_CONFIG_GIT_URL
              value: {{ .Values.configFileProvider.gitConfig.repositoryUrl }}
            {{- end }}
            - name: ANALYZER_MOUNT_PVCS
              value: {{ .Values.analyzer.mountPvcs }}
            - name: ANALYZER_SECRET_PROVIDER
              value: {{ .Values.configSecrets.name }}
            - name: ANALYZER_SECRET_FILES
              value: {{ .Values.configSecrets.files }}

            # Config sender (only supports Kubernetes transport for now)
            - name: CONFIG_SENDER_TRANSPORT_TYPE
              value: kubernetes
            - name: CONFIG_SENDER_TRANSPORT_NAMESPACE
              value: {{ .Release.Namespace }}
            - name: CONFIG_SENDER_TRANSPORT_IMAGE_NAME
              value: "{{ .Values.containerRegistry }}/ort-server-config-worker:{{ .Chart.AppVersion }}"
            - name: CONFIG_SENDER_TRANSPORT_IMAGE_PULL_POLICY
              value: {{ .Values.transport.kubernetes.imagePullPolicy }}
            - name: CONFIG_SENDER_TRANSPORT_BACKOFF_LIMIT
              value: "{{ .Values.transport.kubernetes.backoffLimit }}"
            - name: CONFIG_SENDER_TRANSPORT_RESTART_POLICY
              value: {{ .Values.transport.kubernetes.restartPolicy }}
            - name: CONFIG_SENDER_TRANSPORT_MEMORY_REQUEST
              value: {{ .Values.transport.kubernetes.config.memoryRequest }}
            - name: CONFIG_SENDER_TRANSPORT_MEMORY_LIMIT
              value: {{ .Values.transport.kubernetes.config.memoryLimit }}
            - name: CONFIG_SERVICE_ACCOUNT
              value: ort-server-orchestrator-sa
            # Config worker config used by sender
            {{- if .Values.configFileProvider.gitConfig.enabled }}
            - name: CONFIG_CONFIG_FILE_PROVIDER
              value: git-config
            - name: CONFIG_CONFIG_GIT_URL
              value: {{ .Values.configFileProvider.gitConfig.repositoryUrl }}
            {{- end }}
            - name: CONFIG_MOUNT_PVCS
              value: {{ .Values.config.mountPvcs }}
            - name: CONFIG_SECRET_PROVIDER
              value: {{ .Values.configSecrets.name }}
            - name: CONFIG_SECRET_FILES
              value: {{ .Values.configSecrets.files }}

            # Evaluator sender (only supports Kubernetes transport for now)
            - name: EVALUATOR_SENDER_TRANSPORT_TYPE
              value: kubernetes
            - name: EVALUATOR_SENDER_TRANSPORT_NAMESPACE
              value: {{ .Release.Namespace }}
            - name: EVALUATOR_SENDER_TRANSPORT_IMAGE_NAME
              value: "{{ .Values.containerRegistry }}/ort-server-evaluator-worker:{{ .Chart.AppVersion }}"
            - name: EVALUATOR_SENDER_TRANSPORT_IMAGE_PULL_POLICY
              value: {{ .Values.transport.kubernetes.imagePullPolicy }}
            - name: EVALUATOR_SENDER_TRANSPORT_BACKOFF_LIMIT
              value: "{{ .Values.transport.kubernetes.backoffLimit }}"
            - name: EVALUATOR_SENDER_TRANSPORT_RESTART_POLICY
              value: {{ .Values.transport.kubernetes.restartPolicy }}
            - name: EVALUATOR_SENDER_TRANSPORT_MEMORY_REQUEST
              value: {{ .Values.transport.kubernetes.evaluator.memoryRequest }}
            - name: EVALUATOR_SENDER_TRANSPORT_MEMORY_LIMIT
              value: {{ .Values.transport.kubernetes.evaluator.memoryLimit }}
            - name: EVALUATOR_SERVICE_ACCOUNT
              value: ort-server-orchestrator-sa
            # Analyzer worker config used by sender
            {{- if .Values.configFileProvider.gitConfig.enabled }}
            - name: EVALUATOR_CONFIG_FILE_PROVIDER
              value: git-config
            - name: EVALUATOR_CONFIG_GIT_URL
              value: {{ .Values.configFileProvider.gitConfig.repositoryUrl }}
            {{- end }}
            - name: EVALUATOR_MOUNT_PVCS
              value: {{ .Values.evaluator.mountPvcs }}
            - name: EVALUATOR_SECRET_PROVIDER
              value: {{ .Values.configSecrets.name }}
            - name: EVALUATOR_SECRET_FILES
              value: {{ .Values.configSecrets.files }}

            # Reporter sender (only supports Kubernetes transport for now)
            - name: REPORTER_SENDER_TRANSPORT_TYPE
              value: kubernetes
            - name: REPORTER_SENDER_TRANSPORT_NAMESPACE
              value: {{ .Release.Namespace }}
            - name: REPORTER_SENDER_TRANSPORT_IMAGE_NAME
              value: "{{ .Values.containerRegistry }}/ort-server-reporter-worker:{{ .Chart.AppVersion }}"
            - name: REPORTER_SENDER_TRANSPORT_IMAGE_PULL_POLICY
              value: {{ .Values.transport.kubernetes.imagePullPolicy }}
            - name: REPORTER_SENDER_TRANSPORT_BACKOFF_LIMIT
              value: "{{ .Values.transport.kubernetes.backoffLimit }}"
            - name: REPORTER_SENDER_TRANSPORT_RESTART_POLICY
              value: {{ .Values.transport.kubernetes.restartPolicy }}
            - name: REPORTER_SENDER_TRANSPORT_MEMORY_REQUEST
              value: {{ .Values.transport.kubernetes.reporter.memoryRequest }}
            - name: REPORTER_SENDER_TRANSPORT_MEMORY_LIMIT
              value: {{ .Values.transport.kubernetes.reporter.memoryLimit }}
            - name: REPORTER_SERVICE_ACCOUNT
              value: ort-server-orchestrator-sa
            # Analyzer worker config used by sender
            {{- if .Values.configFileProvider.gitConfig.enabled }}
            - name: REPORTER_CONFIG_FILE_PROVIDER
              value: git-config
            - name: REPORTER_CONFIG_GIT_URL
              value: {{ .Values.configFileProvider.gitConfig.repositoryUrl }}
            {{- end }}
            - name: REPORTER_MOUNT_PVCS
              value: {{ .Values.reporter.mountPvcs }}
            - name: REPORTER_SECRET_PROVIDER
              value: {{ .Values.configSecrets.name }}
            - name: REPORTER_SECRET_FILES
              value: {{ .Values.configSecrets.files }}

            # Scanner sender (only supports Kubernetes transport for now)
            - name: SCANNER_SENDER_TRANSPORT_TYPE
              value: kubernetes
            - name: SCANNER_SENDER_TRANSPORT_NAMESPACE
              value: {{ .Release.Namespace }}
            - name: SCANNER_SENDER_TRANSPORT_IMAGE_NAME
              value: "{{ .Values.containerRegistry }}/ort-server-scanner-worker:{{ .Chart.AppVersion }}"
            - name: SCANNER_SENDER_TRANSPORT_IMAGE_PULL_POLICY
              value: {{ .Values.transport.kubernetes.imagePullPolicy }}
            - name: SCANNER_SENDER_TRANSPORT_BACKOFF_LIMIT
              value: "{{ .Values.transport.kubernetes.backoffLimit }}"
            - name: SCANNER_SENDER_TRANSPORT_RESTART_POLICY
              value: {{ .Values.transport.kubernetes.restartPolicy }}
            - name: SCANNER_SENDER_TRANSPORT_MEMORY_REQUEST
              value: {{ .Values.transport.kubernetes.scanner.memoryRequest }}
            - name: SCANNER_SENDER_TRANSPORT_MEMORY_LIMIT
              value: {{ .Values.transport.kubernetes.scanner.memoryLimit }}
            - name: SCANNER_SERVICE_ACCOUNT
              value: ort-server-orchestrator-sa
            # Analyzer worker config used by sender
            {{- if .Values.configFileProvider.gitConfig.enabled }}
            - name: SCANNER_CONFIG_FILE_PROVIDER
              value: git-config
            - name: SCANNER_CONFIG_GIT_URL
              value: {{ .Values.configFileProvider.gitConfig.repositoryUrl }}
            {{- end }}
            - name: SCANNER_MOUNT_PVCS
              value: {{ .Values.scanner.mountPvcs }}
            - name: SCANNER_SECRET_PROVIDER
              value: {{ .Values.configSecrets.name }}
            - name: SCANNER_SECRET_FILES
              value: {{ .Values.configSecrets.files }}
